<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>    
    </head>
    <body>
        <div class="container" style="margin-top: 20px;">
            <!--
            <a href="/babhankki">
            <img src="long banner.jpg" style="width:1135px;height:151px;border:0;">
            </a>-->
            <p align = "right">
            회원이세요?&nbsp; &nbsp;
            <a href="/babhankki_login">
            <img src="login button.png" style="width:100px;height:36px;border:0;">
            </a>
            </p>
            <p align = "right">
            회원이 아니세요?&nbsp; &nbsp; 
            <a href="/babhankki_signin">
            <img src="sign in button.png" style="width:100px;height:36px;border:0;">
            </a>
            </p>
            <p align = "right">
            이 서비스가 마음에 드시나요?&nbsp; &nbsp;  
            <a href="/babhankki_share">
            <img src="share button.png" style="width:100px;height:36px;border:0;">
            </p>
            <br></br>
            
            <div class="row">
            <div class="col-md-6">
            <a href="/babhankki_help">
                <img src="banner.jpg" style="width:550px;height:746px;border:0;">
            </a>
            </div>
            
            <div class="col-md-6">
             <a href="/babhankki_together">
                <img src="banner.jpg" style="width:550px;height:746px;border:0;">
            </a>
            </div>
            
            </div>
        </div>
    </body>
</html>