<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>    
    </head>
    <body>
        <!--회원 정보를 모두 입력시에만 넘어가도록 설정하는것 필요-->
        <div class="container" style="margin-top: 20px; padding-left: 0px;">
            <div class = "container" style = "margin-top: 30px; margin-bottom: 70px;">
            <img src="mypage.jpg" style="width:472px;height:98px;border:0; float: left;">
            </div>
            <div class = "container" style = "margin-bottom: 10px;">
            <a href="/babhankki_pinfomodify">
            <img src="pinfomodifybutton.png" style="width:1140px;height:166px;border:0;">
            </a>
            </div>
            <div class = "container" style = "margin-bottom: 10px;">
            <a href="/babhankki_myportfolio">
            <img src="myportfoliobutton.png" style="width:1140px;height:166px;border:0;">
            </a>
            </div>
            <div class = "container" style = "margin-bottom: 10px;">
            <a href="/babhankki_message">
            <img src="messagecheckbutton.png" style="width:1140px;height:166px;border:0;">
            </a>
            </div>
            <div class = "container" style = "margin-bottom: 10px;">
            <!--이건 어디로 보내야 하지?-->
            <a href = "babhankki_">
            <img src="changequestcondition.png" style="width:1140px;height:166px;border:0;">
            </a>
            </div>
        </div>
    </body>
</html>